

.heads{
  position: relative;
  top: 200px;
  color: #66bfbf;
  font-size: 60px;
}


.mbody{
  background-color: #e0f2f7;
}

.content{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

}

.logo{
  width: 100%;

}

.para1{
  color: #d8d8d8;
  width: 80%;
  margin: auto;
  font-size: 1.7rem;
}

.trophy{

  width: 100%;
}

.poster{
  height: 550px;
  width: 490px;
}

.para2{
  width: 50%;
  margin: auto;
  color: #d8d8d8;
  font-size: 1.7rem;

}

.psh{
  background-color: #084b8a;
  height: 70px;
  text-align: center;
}

.sthead{
  color: #e6e6e6;
  padding-top: 10px;
}

.sbody{
  background-color: #e0f2f7;
}

.mhd{
  background-color: #084b8a;
  height: 70px;
  text-align: center;
}

.mthead{
  color: #e6e6e6;
  padding-top: 10px;
}
