

.heads{
  position: relative;
  top: 200px;
  color: #66bfbf;
  font-size: 60px;
}


.mbody{
  background-color: #2e2e2e;
}

.content{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

}

.logo{
  width: 100%;

}

.para1{
  color: black;
  width: 40%;
  margin: auto;
  font-size: 1.7rem;
}

.trophy{

  width: 100%;
}

.poster{
  height: 550px;
  width: 490px;
}

.para2{
  width: 40%;
  margin: auto;
  color: black;
  font-size: 1.7rem;

}

.psh{
  background-color: #084b8a;
  height: 70px;
  text-align: center;
}

.sthead{
  color: #e6e6e6;
  padding-top: 10px;
}

.sbody{
  background-color: #e0f2f7;
}

.mhd{
  background-color: #084b8a;
  height: 70px;
  text-align: center;
}

.mthead{
  color: #e6e6e6;
  padding-top: 10px;
}

.teamRR{
  background-color: pink;
  height: 50px;
  width: 90px;
  color: white;
  font-size: 2.2rem;
  border-radius: 5%;
}

.teamPBKS{
  background-color: red;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamMI{
  background-color: blue;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamRCB{
  background-color: #ff0040;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamCSK{
  background-color: #f5da81;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamDC{
  background-color: #2e9afe;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamSRH{
  background-color: #fa8258;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.teamKKR{
  background-color: #8904b1;
  height: 50px;
  width: 90px;
  color: white;
    font-size: 2.2rem;
      border-radius: 5%;
}

.iplbgi{
  background-image: url('wp7104783.jpg');
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 1050px) {
  .iplbgi{


    background-image:url(https://images.unsplash.com/photo-1512719994953-eabf50895df7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.para1{
  width: 60%;
  color: white;
}
.para2{
  width: 60%;
  color: white;
}
}
